<section>
  <h1>Über mich:</h1>
  <p>Kulturwissenschaftler und Historiker mit IT-Schwerpunkt. Vegetarierer und von Katzen Bessessener. Verheiratet. Wohnt in der schönsten Stadt der Welt. Interessiert sich für Hörspiele, Technik, Science Fiction, Politik, Weltgeschehen, Ingress, Bloggen, Podcasts, Android, Freie Software. Schreibt gelegentlich, aber nicht nur Blogposts!</p>
<a href="http://flattr.com/thing/1204991/Die-statische-Version-von-Stoned-Golem" target="_blank"><img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a>
</section>
